/* GR CSS customizations */

/* ---------------------------------- */
/* Caution Badge
------------------------------------- */

.job-listing-company .caution-badge, .job-listing .job-listing-footer ul li .caution-badge {
  position: relative;
  display: inline-block;
  transform: scale(0.7);
  top: 2px;
  margin-left: -2px;
}

/* Caution Badge */

.caution-badge {
  position: relative;
  height: 25px;
  width: 25px;
  display: inline-block;
  background-color: #b65738;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  font-weight: 500;
  &:before {
    content: "\e91e";
    font-family: "Feather-Icons";
    font-size: $body-font-size;
    color: #fff;
    position: relative;
    top: 0px;
    line-height: $body-line-height;
  }
}

.job-listing .job-listing-company-logo .caution-badge {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(7px, 7px);
}

/* Long Caution Badge */

.caution-badge-with-title {
  position: relative;
  height: 26px;
  display: flex;
  top: -1px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  background-color: #b65738;
  text-align: center;
  z-index: 10;
  font-weight: 500;
  border-radius: $global-border-radius;
  padding: 0 8px 0 0;
  margin: 0;
  overflow: hidden;
  padding-left: 34px;
  line-height: $body-line-height;
  &:before {
    content: "\e91e";
    font-family: "Feather-Icons";
    font-size: $body-font-size;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    line-height: $body-sub-line-height;
    height: 26px;
    width: 26px;
    display: inline-block;
    background-color: #b65738;
  }
}

/* End caution Badge */


/* ---------------------------------- */
/* Header
------------------------------------- */

#logo {
  img {
    top: 44%;
  }
}

/* ---------------------------------- */
/* End header
------------------------------------- */


/* List Layout Badge */
.list-apply-badge {
  position: absolute;
  right: 15px;
  padding: 10px 20px;
  line-height: 15px;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  transition: all 0.3s;
  border-radius: 40px;
  background: #f6a421;
  color: #fff;
  text-align: center;
}

/* Footer */

.footer-top-section {
  border-bottom: 1px solid #c0c0c0;
}

.footer-rows-right {
  .footer-row:first-child {
    border-left: 1px solid #c0c0c0;
  }
}

.footer-row {
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
}

.footer-bottom-section {
  border-top: 1px solid #c0c0c0;
}

/* Hover State */

.category-box:hover {
  background: #183153;
}

/* ---------------------------------- */
/* Slick Slider
------------------------------------- */

.slick-prev, .slick-next {
  background-color: #183153;
}


/* ---------------------------------- */
/* How it works
------------------------------------- */
.how-it-works {
  color: #183153;
}

/* ---------------------------------- */
/*Freelancer rating
------------------------------------- */
.freelancer-rating {
  margin-top: 5px;
  margin-bottom: 0px;
  .avis {
    display: inline-block;
    font-size: 15px;
    margin-left: 5px;
  }
}


/* ---------------------------------- */
/* Photo box
------------------------------------- */
.photo-box {
  &:hover {
    box-shadow: 0 4px 12px rgba($primary-color, 0.25);
    transform: translateY(-10px);
    &:before {
      background: $secondary-color;
      opacity: 0.95;
    }
  }
  &.small {
    height: 160px;
    margin-bottom: 30px;
    &:hover {
      transform: translateY(-5px);
    }
    .photo-box-content {
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      bottom: auto;
      top: 50%;
      transform: translateY(-49%);
      h3 {
        font-size: $body-font-size;
        font-weight: 600;
      }
      span {
        color: #fff;
        background: $primary-color;
        font-size: 14px;
        line-height: 18px;
        margin-top: 5px;
        transition: 0.3s;
      }
    }
    &:hover .photo-box-content span {
      color: #fff;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
