<!-- Photo Section -->
<div class="photo-section" data-background-image="images/section-background-teacher.jpg">

	<!-- Infobox -->
	<div class="text-content white-font">
		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-md-8 col-sm-12">
					<h2>Vous enseignez ? <br/>Trouvez des élèves simplement près de chez vous.</h2>
					<p>Nos équipes sont là pour vous accompagner dans la gestion administrative et le suivi des cours.</p>
					<a href="pages-pricing-plans.html" class="button button-sliding-icon ripple-effect big margin-top-20">Devenir professeur <i class="icon-material-outline-arrow-right-alt"></i></a>
				</div>
			</div>

		</div>
	</div>

	<!-- Infobox / End -->

</div>
<!-- Photo Section / End -->
