<!-- Spacer -->
<div class="margin-top-20"></div>
<!-- Spacer / End-->


<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Contact</h2>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->


<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-xl-12">
			<div class="contact-location-info margin-bottom-50">
				<div class="contact-address">
					<ul>
						<li class="contact-address-headline">Nos bureaux</li>
						<li>3 Rue de l'Estrapade, 75005 Paris</li>
						<li><b>01 84 88 32 69</b></li>
						<li><a href="mailto:info@groupe-reussite.fr?Subject=Demande%20d'information">info@groupe-reussite.fr</a></li>
						<li>
							<div class="freelancer-socials">
								<ul>
									<li><a href="https://www.facebook.com/groupereussite/" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-facebook"></i></a></li>
									<li><a href="https://twitter.com/groupereussite" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
									<li><a href="https://www.linkedin.com/in/groupe-reussite/" title="Behance" data-tippy-placement="top"><i class="icon-brand-linkedin"></i></a></li>
								</ul>
							</div>
						</li>
					</ul>

				</div>
				<div id="single-job-map-container">
					<div id="singleListingMap" data-latitude="37.777842" data-longitude="-122.391805" data-map-icon="im im-icon-Hamburger"></div>
					<a href="#" id="streetView">Street View</a>
				</div>
			</div>
		</div>

		<div class="col-xl-8 col-lg-8 offset-xl-2 offset-lg-2">

			<section id="contact" class="margin-bottom-60">
				<h3 class="headline margin-top-15 margin-bottom-35">Une question ? N'hésitez pas à nous contacter !</h3>

				<form method="post" name="contactform" id="contactform" autocomplete="on">
					<div class="row">
						<div class="col-md-6">
							<div class="input-with-icon-left">
								<input class="with-border" name="name" type="text" id="name" placeholder="Votre prénom" required="required" />
								<i class="icon-material-outline-face"></i>
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-with-icon-left">
								<input class="with-border" name="name" type="text" id="name" placeholder="Votre nom" required="required" />
								<i class="icon-material-outline-account-circle"></i>
							</div>
						</div>

					</div>
					<div class="row">

						<div class="col-md-12">
							<div class="input-with-icon-left">
								<input class="with-border" name="email" type="email" id="email" placeholder="Votre email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" />
								<i class="icon-material-outline-email"></i>
							</div>
						</div>
					</div>

					<select class="selectpicker default with-border margin-bottom-22" data-selected-text-format="count" data-size="7" title="Je vous contacte à propos de ..." >
							<option>Je veux des informations sur les stages</option>
							<option>Je veux des informations sur les cours particuliers</option>
							<option>Je veux donner des cours chez Groupe Réussite</option>
							<option>Je veux être guidé(e) dans mon choix entre cours particuliers et stage</option>
							<option>Autre</option>
						</select>

					<div>
						<textarea class="with-border" name="comments" cols="40" rows="5" id="comments" placeholder="Message" spellcheck="true" required="required"></textarea>
					</div>

					<input type="submit" class="submit button margin-top-15" id="submit" value="Envoyer message" />

				</form>
			</section>

		</div>

	</div>
</div>
<!-- Container / End -->

<!-- Spacer -->
<div class="margin-bottom-70"></div>
<!-- Spacer / End-->
