<!-- Photo Section -->
<div class="photo-section" data-background-image="images/cta-helpdesk.jpg">

	<!-- Infobox -->
	<div class="text-content white-font">
		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-md-8 col-sm-12">
					<h2>Besoin d'aide pour choisir ? <br> Parlons-en par téléphone.</h2>
					<p>Nous aurons plaisir à vous accompagner dans votre choix, pour vous même ou vos enfants.</p>
					<a href="" class="button button-sliding-icon ripple-effect big margin-top-20">Appeler nous au 01 84 88 32 69 <i class="icon-line-awesome-phone"></i></a>
					<a href="" class="button button-sliding-icon ripple-effect big margin-top-20">Être appelé <i class="icon-line-awesome-phone"></i></a>
				</div>
			</div>

		</div>
	</div>

	<!-- Infobox / End -->

</div>
<!-- Photo Section / End -->
