<div class="dashboard-sidebar">
  <div class="dashboard-sidebar-inner" data-simplebar>
    <div class="dashboard-nav-container">

      <!-- Responsive Navigation Trigger -->
      <a href="#" class="dashboard-responsive-nav-trigger">
        <span class="hamburger hamburger--collapse" >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
        <span class="trigger-title">Mon espace</span>
      </a>

      <!-- Navigation -->
      <div class="dashboard-nav">
        <div class="dashboard-nav-inner">

          <ul data-submenu-title="Cours collectifs">
            <li><a href="dashboard-parents-groups.html"><i class="icon-material-outline-dashboard"></i> Mes stages</a></li>
          </ul>

          <ul data-submenu-title="Cours particuliers">
              <li><a href="dashboard-parents-privatecourses-mycourses.html"><i class="icon-material-outline-dashboard"></i> Mes cours</a></li>
              <li><a href="dashboard-parents-privatecourses-myteachers.html"><i class="icon-material-outline-question-answer"></i> Mes professeurs <span class="nav-tag">2</span></a></li>
          </ul>

          <ul data-submenu-title="Mon compte">
            <li class="active"><a href="dashboard-parents-settings.html"><i class="icon-material-outline-settings"></i> Mes infos</a></li>
            <li><a href="dashboard-parents-mychildren.html"><i class="icon-material-outline-person-pin"></i> Mes enfants</a></li>
            <li><a href="dashboard-parents-paymentmeans.html"><i class="icon-material-outline-credit-card"></i> Moyens de paiement</a></li>
            <li><a href="dashboard-parents-privatecourses-invoices.html"><i class="icon-material-outline-assignment"></i> Factures</a></li>
            <li><a href="dashboard-parents-privatecourses-taxdoc.html"><i class="icon-material-outline-format-shapes"></i> Attestations fiscales</a></li>
            <li><a href="index-logged-out.html"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
          </ul>

        </div>
      </div>
      <!-- Navigation / End -->

    </div>
  </div>
</div>
