<!-- Footer -->
<div class="dashboard-footer-spacer"></div>
<div class="small-footer margin-top-15">
  <div class="small-footer-copyrights">
    © 2019 <strong>Groupe Réussite</strong>. Tous droits réservés.
  </div>
  <ul class="footer-social-links">
      <h4>
          <a href="https://www.google.fr/maps/place/Groupe+R%C3%A9ussite+-+Stage+Pr%C3%A9pa+HEC,+Maths+Sup,+Spe+Et+Terminale+S+-+Cours+Particuliers/@48.8467204,2.3301614,15z/data=!4m5!3m4!1s0x0:0xcfe02389bc07be6e!8m2!3d48.8467204!4d2.3301614?shorturl=1" target="_blank">
              Avis Google France :
              <span class="star-rating star-rating-centered" data-rating="4.9"></span> sur 5 pour 214 avis.
          </a>
      </h4>
  </ul>
  <div class="clearfix"></div>
</div>
<!-- Footer / End -->
