
<div class="section gray padding-top-65 padding-bottom-70 full-width-carousel-fix">
	<div class="container">
		<div class="row">

			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="section-headline margin-top-0 margin-bottom-25">
					<h3>Nos professeurs vous attendent</h3>
					<a href="freelancers-grid-layout.html" class="headline-link">Voir tous</a>
				</div>
			</div>

			<div class="col-xl-12">
				<div class="default-slick-carousel freelancers-container freelancers-grid-layout">

					<!--Freelancer -->
					<div class="freelancer">

						<!-- Overview -->
						<div class="freelancer-overview">
							<div class="freelancer-overview-inner">

								<!-- Bookmark Icon -->
								<span class="bookmark-icon"></span>

								<!-- Avatar -->
								<div class="freelancer-avatar">
									<a href="single-freelancer-profile.html"><img src="images/user-avatar-big-04.jpg" alt=""></a>
								</div>

								<!-- Name -->
								<div class="freelancer-name">
									<h4><a href="single-freelancer-profile.html">Bertrand Michel</a></h4>
									<span>Mathématiques</span>
								</div>

								<!-- Rating -->
								<div class="freelancer-rating">
									<div class="star-rating" data-rating="5.0"></div>
								</div>
							</div>
						</div>

						<!-- Details -->
						<div class="freelancer-details">
							<div class="freelancer-details-list">
								<ul>
									<li>Lieu <strong><i class="icon-material-outline-location-on"></i> Paris</strong></li>
									<li>Taux <strong>45€ / h</strong></li>
									<li>Évaluation <strong>91%</strong></li>
								</ul>
							</div>
							<a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir profil <i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>
					<!-- Freelancer / End -->

          <!--Freelancer -->
					<div class="freelancer">

						<!-- Overview -->
						<div class="freelancer-overview">
							<div class="freelancer-overview-inner">

								<!-- Bookmark Icon -->
								<span class="bookmark-icon"></span>

								<!-- Avatar -->
								<div class="freelancer-avatar">
									<a href="single-freelancer-profile.html"><img src="images/user-avatar-big-06.jpg" alt=""></a>
								</div>

								<!-- Name -->
								<div class="freelancer-name">
									<h4><a href="single-freelancer-profile.html">Aline Durel</a></h4>
									<span>Mathématiques</span>
								</div>

								<!-- Rating -->
								<div class="freelancer-rating">
									<div class="star-rating" data-rating="5.0"></div>
								</div>
							</div>
						</div>

						<!-- Details -->
						<div class="freelancer-details">
							<div class="freelancer-details-list">
								<ul>
									<li>Lieu <strong><i class="icon-material-outline-location-on"></i> Paris</strong></li>
									<li>Taux <strong>90€ / h</strong></li>
									<li>Évaluation <strong>99%</strong></li>
								</ul>
							</div>
							<a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir profil <i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>
					<!-- Freelancer / End -->

          <!--Freelancer -->
          <div class="freelancer">

            <!-- Overview -->
            <div class="freelancer-overview">
              <div class="freelancer-overview-inner">

                <!-- Bookmark Icon -->
                <span class="bookmark-icon"></span>

                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <a href="single-freelancer-profile.html"><img src="images/user-avatar-big-02.jpg" alt=""></a>
                </div>

                <!-- Name -->
                <div class="freelancer-name">
                  <h4><a href="single-freelancer-profile.html">Ema Lewitz</a></h4>
                  <span>Mathématiques</span>
                </div>

                <!-- Rating -->
                <div class="freelancer-rating">
                  <div class="star-rating" data-rating="5.0"></div>
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="freelancer-details">
              <div class="freelancer-details-list">
                <ul>
                  <li>Lieu <strong><i class="icon-material-outline-location-on"></i> Paris</strong></li>
                  <li>Taux <strong>65€ / h</strong></li>
                  <li>Évaluation <strong>99%</strong></li>
                </ul>
              </div>
              <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir profil <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div>
          </div>
          <!-- Freelancer / End -->

          <!--Freelancer -->
          <div class="freelancer">

            <!-- Overview -->
            <div class="freelancer-overview">
              <div class="freelancer-overview-inner">

                <!-- Bookmark Icon -->
                <span class="bookmark-icon"></span>

                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <a href="single-freelancer-profile.html"><img src="images/user-avatar-big-05.jpg" alt=""></a>
                </div>

                <!-- Name -->
                <div class="freelancer-name">
                  <h4><a href="single-freelancer-profile.html">Albane Contel</a></h4>
                  <span>Mathématiques</span>
                </div>

                <!-- Rating -->
                <div class="freelancer-rating">
                  <div class="star-rating" data-rating="5.0"></div>
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="freelancer-details">
              <div class="freelancer-details-list">
                <ul>
                  <li>Lieu <strong><i class="icon-material-outline-location-on"></i> Paris</strong></li>
                  <li>Taux <strong>34€ / h</strong></li>
                  <li>Évaluation <strong>98%</strong></li>
                </ul>
              </div>
              <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir profil <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div>
          </div>
          <!-- Freelancer / End -->

          <!--Freelancer -->
          <div class="freelancer">

            <!-- Overview -->
            <div class="freelancer-overview">
              <div class="freelancer-overview-inner">

                <!-- Bookmark Icon -->
                <span class="bookmark-icon"></span>

                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <a href="single-freelancer-profile.html"><img src="images/user-avatar-big-07.jpg" alt=""></a>
                </div>

                <!-- Name -->
                <div class="freelancer-name">
                  <h4><a href="single-freelancer-profile.html">Trod Crepel</a></h4>
                  <span>Mathématiques</span>
                </div>

                <!-- Rating -->
                <div class="freelancer-rating">
                  <div class="star-rating" data-rating="4.5"></div>
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="freelancer-details">
              <div class="freelancer-details-list">
                <ul>
                  <li>Lieu <strong><i class="icon-material-outline-location-on"></i> Paris</strong></li>
                  <li>Taux <strong>55€ / h</strong></li>
                  <li>Évaluation <strong>93%</strong></li>
                </ul>
              </div>
              <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir profil <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div>
          </div>
          <!-- Freelancer / End -->

          <!--Freelancer -->
          <div class="freelancer">

            <!-- Overview -->
            <div class="freelancer-overview">
              <div class="freelancer-overview-inner">

                <!-- Bookmark Icon -->
                <span class="bookmark-icon"></span>

                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <a href="single-freelancer-profile.html"><img src="images/user-avatar-big-01.jpg" alt=""></a>
                </div>

                <!-- Name -->
                <div class="freelancer-name">
                  <h4><a href="single-freelancer-profile.html">Alain Duhamel</a></h4>
                  <span>Mathématiques</span>
                </div>

                <!-- Rating -->
                <div class="freelancer-rating">
                  <div class="star-rating" data-rating="3.8"></div>
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="freelancer-details">
              <div class="freelancer-details-list">
                <ul>
                  <li>Lieu <strong><i class="icon-material-outline-location-on"></i> Paris</strong></li>
                  <li>Taux <strong>39€ / h</strong></li>
                  <li>Évaluation <strong>90%</strong></li>
                </ul>
              </div>
              <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir profil <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div>
          </div>
          <!-- Freelancer / End -->

          <!--Freelancer -->
          <div class="freelancer">

            <!-- Overview -->
            <div class="freelancer-overview">
              <div class="freelancer-overview-inner">

                <!-- Bookmark Icon -->
                <span class="bookmark-icon"></span>

                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <a href="single-freelancer-profile.html"><img src="images/user-avatar-big-03.jpg" alt=""></a>
                </div>

                <!-- Name -->
                <div class="freelancer-name">
                  <h4><a href="single-freelancer-profile.html">Bertrand Duval</a></h4>
                  <span>Mathématiques</span>
                </div>

                <!-- Rating -->
                <div class="freelancer-rating">
                  <div class="star-rating" data-rating="3.8"></div>
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="freelancer-details">
              <div class="freelancer-details-list">
                <ul>
                  <li>Lieu <strong><i class="icon-material-outline-location-on"></i> Paris</strong></li>
                  <li>Taux <strong>27€ / h</strong></li>
                  <li>Évaluation <strong>89%</strong></li>
                </ul>
              </div>
              <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Voir profil <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div>
          </div>
          <!-- Freelancer / End -->


				</div>
			</div>

		</div>
	</div>
</div>
