
<div id="footer">

	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">

						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="images/logo-gr-onecolor.png" alt="">
								</div>
							</div>
						</div>

						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="https://www.facebook.com/groupereussite/" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/groupereussite" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li>
											<a href="https://www.linkedin.com/in/groupe-reussite/" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>

							<!-- Language Switcher -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
										<option selected>English</option>
										<option>Français</option>
										<option>Español</option>
										<option>Deutsch</option>
									</select>
								</div>
							</div>
						</div>

					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Middle Section -->
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-3 col-lg-3 col-md-3">
					<div class="footer-links">
						<h3>Contact</h3>
						<ul>
							<li><a href="#"><span>Nous contacter</span></a></li>
							<li><a href="#"><span>3 rue de l'Estrapade</span></a></li>
							<li><a href="#"><span>contact@groupe-reussite.fr</span></a></li>
							<li><a href="#"><span>01 84 88 32 69</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-3 col-lg-3 col-md-3">
					<div class="footer-links">
						<h3>Nous rejoindre</h3>
						<ul>
							<li><a href="#"><span>L'équipe</span></a></li>
							<li><a href="#"><span>Devenir professeur</span></a></li>
							<li><a href="#"><span>Poster une annonce</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-3 col-lg-3 col-md-3">
					<div class="footer-links">
						<h3>Groupe Réussite en bref</h3>
						<ul>
							<li><a href="#"><span>Présentation</span></a></li>
							<li><a href="#"><span>Témoignages</span></a></li>
							<li><a href="#"><span>Fonctionnement</span></a></li>
							<li><a href="#"><span>Réduction d'impôts</span></a></li>
							<li><a href="#"><span>Mentions légales</span></a></li>
							<li><a href="#"><span>Conditions Générales d'Utilisation</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-3 col-lg-3 col-md-3">
					<div class="footer-links">
						<h3>Mon compte</h3>
						<ul>
							<li><a href="#"><span>Se connecter</span></a></li>
							<li><a href="#"><span>Mon compte</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="footer-links">
						<h3>Cours particuliers</h3>
						<ul>
							<li><a href="#"><span>Cours particulier en Mathématiques à Paris</span></a></li>
							<li><a href="#"><span>Cours particulier en Physique à Paris</span></a></li>
							<li><a href="#"><span>Cours particulier en Chimie à Paris</span></a></li>
							<li><a href="#"><span>Cours particulier en Français à Paris</span></a></li>
							<li><a href="#"><span>Cours particulier en Histoire à Paris</span></a></li>
							<li><a href="#"><span>Cours particulier en Sciences de l'ingénieur à Paris</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="footer-links">
						<h3>Stages en petits groupes</h3>
						<ul>
							<li><a href="#"><span>Stage en Mathématiques à Paris</span></a></li>
							<li><a href="#"><span>Stage en Physique à Paris</span></a></li>
							<li><a href="#"><span>Stage en Chimie à Paris</span></a></li>
							<li><a href="#"><span>Stage en Français à Paris</span></a></li>
							<li><a href="#"><span>Stage en Histoire à Paris</span></a></li>
							<li><a href="#"><span>Stage en Sciences de l'ingénieur à Paris</span></a></li>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- Footer Middle Section / End -->

	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2019 <strong>Groupe Réussite</strong>. Tous droits réservés.
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>
