<!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="images/group-profile.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<!-- <div class="header-image"><img src="images/browse-companies-03.png" alt=""></div> -->
						<div class="header-details">
							<h3>Stage de pré-rentrée en Math Sup <span>MPSI • PCSI • PTSI</span></h3>
							<ul>
								<li><i class="icon-material-outline-group"></i>10 élèves max.</li>
								<li><i class="icon-material-outline-access-time"></i> 25-29 Août 2019</li>
								<li><span><div class="caution-badge caution-badge-small" title="Cours en forte demande" data-tippy-placement="top"></div> 3 places restantes </span></li>
							</ul>
							<ul>
								<li><div class="star-rating" data-rating="4.9"></div></li>
                <li><i class="icon-material-outline-location-on"></i> 28 rue Pierre Nicole - Paris 5e</li>
							</ul>
              <br>
						</div>
					</div>
					<div class="right-side">
						<div class="salary-box">
							<div class="salary-type">Tarif du stage</div>
							<div class="salary-amount">20 € / h</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">

		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">

			<div class="single-page-section">
				<h3 class="margin-bottom-25">Description du stage</h3>
				<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>

				<p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
			</div>

			<!-- Boxed List -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3><i class="icon-material-outline-business-center"></i> Horaires et tarifs</h3>
				</div>

				<div class="listings-container compact-list-layout">

					<!-- Job Listing -->
					<a href="single-job-page.html" class="job-listing">

						<!-- Job Listing Details -->
						<div class="job-listing-details">

							<!-- Details -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">Maths ou Physique</h3>

								<!-- Job Listing Footer -->
								<div class="job-listing-footer">
									<ul>
										<li><i class="icon-material-outline-location-on"></i> 8h30-12h30 ou 13h30-17h30</li>
										<li><i class="icon-material-outline-business-center"></i> 20 heures totales</li>
									</ul>
								</div>
							</div>

						</div>

						<!-- Bookmark -->
						<span class="bookmark-icon-price">800 €</span>
					</a>

          <!-- Job Listing -->
          <a href="single-job-page.html" class="job-listing">

            <!-- Job Listing Details -->
            <div class="job-listing-details">

              <!-- Details -->
              <div class="job-listing-description">
                <h3 class="job-listing-title">Maths ou Physique</h3>

                <!-- Job Listing Footer -->
                <div class="job-listing-footer">
                  <ul>
                    <li><i class="icon-material-outline-location-on"></i> 8h30-12h30 ou 13h30-17h30</li>
                    <li><i class="icon-material-outline-business-center"></i> 20 heures totales</li>
                  </ul>
                </div>
              </div>

            </div>

            <!-- Bookmark -->
            <span class="bookmark-icon-price">800 €</span>
          </a>

          <!-- Job Listing -->
          <a href="single-job-page.html" class="job-listing">

            <!-- Job Listing Details -->
            <div class="job-listing-details">

              <!-- Details -->
              <div class="job-listing-description">
                <h3 class="job-listing-title">1 matière : Maths ou Physique</h3>

                <!-- Job Listing Footer -->
                <div class="job-listing-footer">
                  <ul>
                    <li><i class="icon-material-outline-location-on"></i> 8h30-12h30 ou 13h30-17h30</li>
                    <li><i class="icon-material-outline-business-center"></i> 20 heures totales</li>
                  </ul>
                </div>
              </div>

            </div>

            <!-- Bookmark -->
            <span class="bookmark-icon-price">800 €</span>
          </a>


				</div>

			</div>
			<!-- Boxed List / End -->


      <!-- Boxed List -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3><i class="icon-material-outline-business-center"></i> Programme du stage (adaptable sur demande)</h3>
				</div>

				<div class="listings-container compact-list-layout">

					<!-- Job Listing -->
					<a href="single-job-page.html" class="job-listing">

						<!-- Job Listing Details -->
						<div class="job-listing-details">

							<!-- Details -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">Maths</h3>

								<!-- Job Listing Footer -->
								<div class="job-listing-footer">
									<ul>
										<li><i class="icon-material-outline-alarm-on"></i> 8h30-12h30 ou 13h30-17h30</li>
									</ul>
									<ul>
										<li><i class="icon-material-outline-business-center"></i> Sommes et produits</li>
                    <li><i class="icon-material-outline-business-center"></i> Nombres complexes</li>
										<li><i class="icon-material-outline-business-center"></i> Fonctions et logiques</li>
									</ul>
								</div>
							</div>

						</div>

						<span class="bookmark-icon-price hours">20 heures totales</span>

					</a>

          <!-- Job Listing -->
					<a href="single-job-page.html" class="job-listing">

						<!-- Job Listing Details -->
						<div class="job-listing-details">

							<!-- Details -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">Physique</h3>

								<!-- Job Listing Footer -->
								<div class="job-listing-footer">
									<ul>
										<li><i class="icon-material-outline-alarm-on"></i> 13h30-17h30</li>
									</ul>
									<ul>
										<li><i class="icon-material-outline-business-center"></i> Ondes</li>
                    <li><i class="icon-material-outline-business-center"></i> Temps et cinématique</li>
										<li><i class="icon-material-outline-business-center"></i> Optique géométrique</li>
									</ul>
								</div>
							</div>

						</div>
						<span class="bookmark-icon-price hours">15 heures totales</span>

					</a>

          <!-- Job Listing -->
          <a href="single-job-page.html" class="job-listing">

            <!-- Job Listing Details -->
            <div class="job-listing-details">

              <!-- Details -->
              <div class="job-listing-description">
                <h3 class="job-listing-title">Français</h3>

                <!-- Job Listing Footer -->
                <div class="job-listing-footer">
									<ul>
										<li><i class="icon-material-outline-alarm-on"></i> 8h30-12h30</li>
									</ul>
                  <ul>
                    <li><i class="icon-material-outline-business-center"></i> Thème au programme et des oeuvres</li>
                    <li><i class="icon-material-outline-business-center"></i> Méthodologie de la dissertation</li>
                  </ul>
                </div>
              </div>

            </div>
						<span class="bookmark-icon-price hours">8 heures totales</span>

          </a>



				</div>

			</div>
			<!-- Boxed List / End -->



			<!-- Boxed List -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3><i class="icon-material-outline-thumb-up"></i> Vos avis</h3>
          stars stars
				</div>
				<ul class="boxed-list-ul">
					<li>
						<div class="boxed-list-item">
							<!-- Content -->
							<div class="item-content">
								<h4>Alain</h4>
								<div class="item-details margin-top-10">
									<div class="star-rating" data-rating="5.0"></div>
									<div class="detail-item"><i class="icon-material-outline-date-range"></i> Août 2018</div>
								</div>
								<div class="item-description">
									<p>Je trouve vraiment que ce stage devrait être obligatoire pour tous les nouveaux élèves de prépa en France.</p>
								</div>
							</div>
						</div>
					</li>
          <li>
            <div class="boxed-list-item">
              <!-- Content -->
              <div class="item-content">
                <h4>Alain</h4>
                <div class="item-details margin-top-10">
                  <div class="star-rating" data-rating="5.0"></div>
                  <div class="detail-item"><i class="icon-material-outline-date-range"></i> Août 2018</div>
                </div>
                <div class="item-description">
                  <p>Je trouve vraiment que ce stage devrait être obligatoire pour tous les nouveaux élèves de prépa en France.</p>
                </div>
              </div>
            </div>
          </li>

				</ul>

			</div>
			<!-- Boxed List / End -->

		</div>


		<!-- Sidebar -->
		<div class="col-xl-4 col-lg-4">
			<div class="sidebar-container">

        <!-- Button -->
				<a href="onboarding-info-groups.html" class="apply-now-button apply-now-info margin-bottom-10">Demander des informations <i class="icon-material-outline-arrow-right-alt"></i></a>
				<a href="onboarding-signuporlogin-groups.html" class="apply-now-button margin-bottom-50">Réserver votre place <i class="icon-material-outline-arrow-right-alt"></i></a>

        <div class="sidebar-widget">
          <div class="profile-overview">
            <div class="overview-item"><strong>1.290</strong><span>Élèves suivis</span></div>
            <div class="overview-item"><strong>34.000</strong><span>Nombre d'heures</span></div>
            <div class="overview-item"><strong>45</strong><span>Professeurs certifiés</span></div>
          </div>
        </div>

        <div class="sidebar-widget">
          <div class="freelancer-indicators">

            <!-- Indicator -->
            <div class="indicator">
              <strong>98%</strong>
              <div class="indicator-bar" data-indicator-percentage="98"><span></span></div>
              <span title="Pourcentage de vos demandes ayant reçues une réponse." data-tippy-placement="bottom">Taux d'assiduité</span>
            </div>

            <!-- Indicator -->
            <div class="indicator">
              <strong>99%</strong>
              <div class="indicator-bar" data-indicator-percentage="99"><span></span></div>
              <span title="Pourcentage d'élèves ayant poursuivi après le premier cours." data-tippy-placement="bottom">Taux de réussite</span>
            </div>

          </div>
        </div>

				<!-- Location -->
				<div class="sidebar-widget">
					<h3>Location</h3>
					<div id="single-job-map-container">
						<div id="singleListingMap" data-latitude="52.520007" data-longitude="13.404954" data-map-icon="im im-icon-Hamburger"></div>
						<a href="#" id="streetView">Street View</a>
					</div>
				</div>


			</div>
		</div>

	</div>
</div>


<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->
