<header id="header-container" class="fullwidth">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/logo-gr.png" alt=""></a>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">

						<li><a href="search-result-teachers.html" class="current">Cours particuliers</a></li>

						<li><a href="search-result-groups.html">Cours en petits groupes</a></li>

						<li><a href="https://groupe-reussite.fr/devenir-professeur/" target="_blank">Devenir professeur</a></li>

            <li><a href="#"><strong>Besoin d'aide ? 01 84 88 32 69</strong></a></li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->

			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">

				<!--  User Notifications -->
				<div class="header-widget hide-on-mobile">


					<!-- Messages -->
					<div class="header-notifications">
						<div class="header-notifications-trigger-allow-link">
							<a href="contact-us.html">Nous contacter <i class="icon-feather-mail"></i></a>
						</div>

					</div>

				</div>
				<!--  User Notifications / End -->

				<!-- User Menu -->
				<div class="header-widget">

					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							<a href="#"><div class="user-avatar-icon-container"><i class="icon-material-outline-account-circle user-avatar-icon"></i></div></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar-icon-container"><i class="icon-material-outline-account-circle user-avatar-icon"></i></div>
									<div class="user-name">
										Alain Dupont <span>Parent</span>
									</div>
								</div>

						</div>

						<ul class="user-menu-small-nav">
							<li><a href="dashboard-parents-groups.html"><i class="icon-material-outline-explore"></i> Mes stages</a></li>
							<li><a href="dashboard-parents-privatecourses-mycourses.html"><i class="icon-material-outline-find-in-page"></i> Mes cours</a></li>
							<li><a href="dashboard-parents-privatecourses-myteachers.html"><i class="icon-material-outline-supervisor-account"></i> Mes professeurs</a></li>
							<li><a href="dashboard-parents-settings.html"><i class="icon-material-outline-settings"></i> Mon compte</a></li>
							<li><a href="index-logged-out.html"><i class="icon-material-outline-power-settings-new"></i> Déconnexion</a></li>
						</ul>

						</div>
					</div>

				</div>
				<!-- User Menu / End -->

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->
	<div class="container subheader">
		<div class="row">
			<div class="col-xl-4 col-lg-4 offset-8 ">
				<div class="sticky-subheader">
					<div class="row">

						<div class="col-xl-3 col-lg-3">
							<div class="teacher-picture"><img src="images/user-avatar-big-02.jpg" alt=""></div>
						</div>

						<div class="col-xl-9 col-lg-9">
							<b>Elena</b> | Professeur agrégé
						</div>

					</div>

					<div class="row">
						<a href="onboarding-signuporlogin.html" class="apply-now-button margin-bottom-10">Contacter Elena <i class="icon-material-outline-arrow-right-alt"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>


</header>
<div class="clearfix"></div>
