<!-- Spacer -->
<div class="margin-top-20"></div>
<!-- Spacer / End-->


<div class="container">
	<div class="row">
		<div class="col-xl-6 offset-xl-2">

			<!-- Tasks Container -->
			<div class="tasks-list-container margin-top-10">

				<!-- Task -->
				<a href="group-profile.html" class="task-listing">

					<!-- Job Listing Details -->
					<div class="task-listing-details">

						<!-- Details -->
						<div class="task-listing-description">
							<h3 class="task-listing-title">Stage de pré-rentrée en Math Sup</h3>
							<ul class="task-icons">
								<li><i class="icon-material-outline-access-time"></i> 25-29 Août 2019</li>
							</ul>

						</div>

					</div>

					<div class="task-listing-bid">
						<div class="task-listing-bid-inner">
							<ul class="task-icons margin-bottom-10">
								<li><i class="icon-material-outline-location-on"></i> Paris 5e</li>
							</ul>
							<div class="task-offers">
								<span><div class="caution-badge" title="Cours en forte demande" data-tippy-placement="top"></div> 3 places restantes </span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="login-register-page">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Demander des informations concernant le stage</h3>
					<span>Vous avez déjà un compte ?<a href="onboarding-login-groups.html"> Connectez-vous !</a></span>
				</div>

				<!-- Form -->



				<form method="post" id="login-form">

          <div class="row">
            <div class="col-xl-5">
              <div class="input-with-icon-left">
                <i class="icon-material-outline-face"></i>
                <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Prénom" required/>
              </div>
            </div>

            <div class="col-xl-7">
              <div class="input-with-icon-left">
                <i class="icon-material-outline-account-circle"></i>
                <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Nom" required/>
              </div>
            </div>

            <div class="col-xl-7">
              <div class="input-with-icon-left">
    						<i class="icon-material-baseline-mail-outline"></i>
    						<input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email" required/>
    					</div>
            </div>

            <div class="col-xl-5">
              <div class="input-with-icon-left">
                <i class="icon-feather-phone"></i>
                <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Téléphone" required/>
              </div>
            </div>


						<div class="col-xl-12">
							<textarea class="with-border" name="comments" cols="40" rows="5" id="comments" placeholder="Message" spellcheck="true" required="required"></textarea>
						</div>

          </div>

				</form>

				<!-- Button -->
				<button href="#small-dialog" class="button popup-with-zoom-anim full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="login-form">Envoyer la demande d'information <i class="icon-material-outline-arrow-right-alt"></i></button>


				<div class="margin-top-30">
					<p><b>En cas de besoin appelez-nous au 01 84 88 32 69.</b></p>
				</div>
        <br>
        <ul class="footer-social-links">
					<h4>
	            <a href="https://www.google.fr/maps/place/Groupe+R%C3%A9ussite+-+Stage+Pr%C3%A9pa+HEC,+Maths+Sup,+Spe+Et+Terminale+S+-+Cours+Particuliers/@48.8467204,2.3301614,15z/data=!4m5!3m4!1s0x0:0xcfe02389bc07be6e!8m2!3d48.8467204!4d2.3301614?shorturl=1" target="_blank">
	                Avis Google France :
	                <span class="star-rating star-rating-centered" data-rating="4.9"></span> sur 5 pour 214 avis.
	            </a>
	        </h4>
        </ul>
				<p><br><br><strong><a href="onboarding-signuporlogin-groups-errors.html">lien vers page avec erreurs</a></strong></p>
			</div>

		</div>
	</div>
</div>

<!-- Spacer -->
<div class="margin-bottom-70"></div>
<!-- Spacer / End-->
