<!-- add class "disable-gradient" to enable consistent background overlay -->
<div class="intro-banner" data-background-image="images/home-gr.jpg">

  <div class="container">

		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h1>
						<strong>Excellez aux concours CPGE et au bac,</strong>
            <br/>
						<span>avec <strong class="color">les meilleurs professeurs</strong>.</span>
					</h1>
				</div>
			</div>
		</div>

		<!-- Search Bar -->
		<div class="row">
			<div class="col-md-12">
				<div class="intro-banner-search-form margin-top-95">

          <!-- Search Field -->
					<div class="intro-search-field">
            <label for="autocomplete-input" class="field-title ripple-effect">Matière ?</label>

						<select class="selectpicker default" data-selected-text-format="count" data-size="7" title="Toutes les matières" >
							<option>Mathématiques</option>
							<option>Physique</option>
							<option>Français</option>
							<option>Anglais</option>
							<option>Chimie</option>
							<option>Allemand</option>
							<option>Sciences de l'ingénieur</option>
							<option>Sciences de la vie et de la terre (SVT)</option>
              <option>Sciences économiques et sociales</option>
              <option>Histoire</option>
              <option>Géographie</option>
              <option>Latin</option>
              <option>Grec</option>
              <option>Philosophie</option>
              <option>Italien</option>
              <option>Espagnol</option>
              <option>Littérature</option>
              <option>Droit</option>
              <option>Économie, prépa HEC ECE (ESH)</option>
              <option>Culture générale</option>
              <option>Histoire-géographie géopolitique</option>
              <option>Économie</option>
              <option>Entretien de motivation</option>
              <option>Sciences sociales</option>
              <option>Informatique</option>
              <option>Chimie/Biochimie</option>
              <option>Biologie</option>
              <option>Physique/Biophysique</option>
              <option>Maths/Biostatistiques</option>
						</select>
					</div>

          <!-- Search Field -->
          <div class="intro-search-field">
            <label for="autocomplete-input" class="field-title ripple-effect">Niveau ?</label>
            <select class="selectpicker default" data-selected-text-format="count" data-size="7" title="Tous les niveaux" >
              <option>Prépa scientifique</option>
              <option>Prépa HEC</option>
              <option>Prépa littéraire</option>
              <option>Université, BTS, IUT</option>
              <option>Lycée</option>
              <option>Collège</option>
            </select>
          </div>

          <!-- Search Field -->
          <div class="intro-search-field">
            <label for="autocomplete-input" class="field-title ripple-effect">Format ?</label>
            <select class="selectpicker default" data-selected-text-format="count" data-size="7" title="Tous les types" >
              <option>Cours particuliers</option>
              <option>Cours en petit groupe</option>
              <option>Cours en ligne</option>
            </select>
          </div>

					<!-- Button -->
					<div class="intro-search-button">
						<button class="button ripple-effect" onclick="window.location.href='jobs-list-layout-full-page-map.html'">Trouver mon cours</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Stats -->
		<div class="row">
			<div class="col-md-12">
				<ul class="intro-stats margin-top-45 hide-under-992px">
					<li>
						<strong class="counter">29,586</strong>
						<span>Heures enseignées</span>
					</li>
					<li>
						<strong class="counter">7,543</strong>
						<span>Cours donnés</span>
					</li>
					<li>
						<strong class="counter">459</strong>
						<span>Professeurs</span>
					</li>
				</ul>
			</div>
		</div>

    <!-- Trust -->
    <div class="row">
      <div class="col-md-12 margin-top-45">
        <h4>
          <span class="hreview-aggregate">
            <span class="item">
              <span class="fn">
                <a href="https://www.google.fr/maps/place/Groupe+R%C3%A9ussite+-+Stage+Pr%C3%A9pa+HEC,+Maths+Sup,+Spe+Et+Terminale+S+-+Cours+Particuliers/@48.8467204,2.3301614,15z/data=!4m5!3m4!1s0x0:0xcfe02389bc07be6e!8m2!3d48.8467204!4d2.3301614?shorturl=1" target="_blank">
                  Avis Google France : ⭐⭐⭐⭐⭐</a>
              </span>
            </span>
            <a href="https://www.google.fr/maps/place/Groupe+R%C3%A9ussite+-+Stage+Pr%C3%A9pa+HEC,+Maths+Sup,+Spe+Et+Terminale+S+-+Cours+Particuliers/@48.8467204,2.3301614,15z/data=!4m5!3m4!1s0x0:0xcfe02389bc07be6e!8m2!3d48.8467204!4d2.3301614?shorturl=1" target="_blank">
          <span class="rating">
            <span class="average">4,9</span> sur <span class="best">5</span> pour<span class="votes"> 207</span> avis.<span class="summary"></span>
              </span>
            </a>
          </span>
        </h4>
      </div>
    </div>



	</div>
</div>
