<!-- Make an Offer Popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
      <li><a href="#new-school">Ajouter un élève</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="new-school">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Ses coordonnées</h3>
				</div>

				<!-- Form -->
				<form method="post">

					<div class="col-xl-12 margin-bottom-10">
						<div class="section-headline margin-top-25 margin-bottom-12">
							<h5>Civilité</h5>
						</div>
						<div class="radio margin-right-20">
							<input id="radio-1" name="radio" type="radio" checked>
							<label for="radio-1"><span class="radio-label"></span> Monsieur</label>
						</div>
						<div class="radio margin-right-20">
							<input id="radio-2" name="radio" type="radio" checked>
							<label for="radio-2"><span class="radio-label"></span> Madame</label>
						</div>
						<div class="radio margin-right-20">
							<input id="radio-3" name="radio" type="radio" checked>
							<label for="radio-3"><span class="radio-label"></span> Non binaire</label>
						</div>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="Prénom"/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="Nom"/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-location-on"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="Adresse"/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-feather-phone"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="Téléphone"/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-email"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="Email"/>
					</div>

					<div class="col-xl-12">
						<div class="section-headline margin-top-25 margin-bottom-12">
							<h5>Classe</h5>
						</div>

						<select class="selectpicker with-border">
							<option>...</option>
							<option>Seconde</option>
							<option>1ere</option>
							<option>Terminal</option>
							<option>Math Sup</option>
							<option>Math Spé</option>
						</select>
					</div>

					<div class="col-xl-12">
						<div class="section-headline margin-top-25 margin-bottom-12">
							<h5>Établissement</h5>
						</div>
						<select class="selectpicker with-border">
							<option>...</option>
							<option>Etablissement du désert</option>
							<option>Lycée des Couvrées en Lisande</option>
							<option>Collège des Deux Traversières</option>
						</select>
					</div>

				<!-- Button -->
				<button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Enregistrer <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>


		</div>
	</div>
</div>
<!-- Make an Offer Popup / End -->
