
<div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">

				<!-- Section Headline -->
				<div class="section-headline margin-top-0 margin-bottom-35">
					<h3>Nos prochains stages</h3>
					<a href="jobs-list-layout-full-page-map.html" class="headline-link">Voir tous</a>
					<br/>
					<a href="#" class="button gray ripple-effect button-sliding-icon">Prépa scientifique <i class="icon-feather-check"></i></a>
					<a href="#" class="button gray ripple-effect button-sliding-icon">Prépa HEC <i class="icon-feather-check"></i></a>
					<a href="#" class="button gray ripple-effect button-sliding-icon">Lycée <i class="icon-feather-check"></i></a>
					<a href="#" class="button gray ripple-effect button-sliding-icon">Collège <i class="icon-feather-check"></i></a>

				</div>

				<!-- Jobs Container -->
				<div class="listings-container compact-list-layout margin-top-35">

					<!-- Job Listing -->
					<a href="single-job-page.html" class="job-listing with-apply-button">

						<!-- Job Listing Details -->
						<div class="job-listing-details">

							<!-- Logo -->
							<div class="job-listing-company-logo">
                <div class="category-box-icon">
    							<i class="icon-line-awesome-graduation-cap"></i>
    						</div>
								<!-- <img src="images/company-logo-01.png" alt=""> -->
							</div>

							<!-- Details -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">Stage de pré-rentrée en Math Sup</h3>

								<!-- Job Listing Footer -->
								<div class="job-listing-footer">
									<ul>
                    <li><i class="icon-material-outline-location-on"></i> Paris</li>
										<li><i class="icon-material-outline-business"></i> 8h30-17h30</li>
										<li><i class="icon-material-outline-school"></i> 15 élèves max</li>
										<li><i class="icon-material-outline-access-time"></i> 3 places restantes <div class="caution-badge" title="Cours en forte demande" data-tippy-placement="top"></div></li>
									</ul>
								</div>
							</div>
							<span class="list-apply-badge">25-29 Août 2019</span>

							<!-- Apply Button -->
							<span class="list-apply-button ripple-effect">S'inscrire</span>
						</div>
					</a>


					<!-- Job Listing -->
          <a href="single-job-page.html" class="job-listing with-apply-button">

						<!-- Job Listing Details -->
						<div class="job-listing-details">

							<!-- Logo -->
							<div class="job-listing-company-logo">
                <div class="category-box-icon">
    							<i class="icon-line-awesome-magic"></i>
    						</div>
								<!-- <img src="images/company-logo-01.png" alt=""> -->
							</div>

							<!-- Details -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">Stage de pré-rentrée en Math Spé</h3>

								<!-- Job Listing Footer -->
								<div class="job-listing-footer">
									<ul>
                    <li><i class="icon-material-outline-location-on"></i> Paris</li>
										<li><i class="icon-material-outline-business"></i> 8h30-17h30</li>
										<li><i class="icon-material-outline-school"></i> 15 élèves max</li>
										<li><i class="icon-material-outline-access-time"></i> 4 places restantes <div class="caution-badge" title="Cours en forte demande" data-tippy-placement="top"></div></li>
									</ul>
								</div>
							</div>
							<span class="list-apply-badge">25-29 Septembre 2019</span>

							<!-- Apply Button -->
							<span class="list-apply-button ripple-effect">S'inscrire</span>
						</div>
					</a>


					<!-- Job Listing -->
          <a href="single-job-page.html" class="job-listing with-apply-button">

						<!-- Job Listing Details -->
						<div class="job-listing-details">

							<!-- Logo -->
							<div class="job-listing-company-logo">
                <div class="category-box-icon">
    							<i class="icon-line-awesome-magnet"></i>
    						</div>
								<!-- <img src="images/company-logo-01.png" alt=""> -->
							</div>

							<!-- Details -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">Stage de pré-rentrée en Terminale</h3>

								<!-- Job Listing Footer -->
								<div class="job-listing-footer">
									<ul>
                    <li><i class="icon-material-outline-location-on"></i> Paris</li>
										<li><i class="icon-material-outline-business"></i> 8h30-12h30</li>
										<li><i class="icon-material-outline-school"></i> 10 élèves max</li>
										<li><i class="icon-material-outline-access-time"></i> 9 places restantes <div class="caution-badge" title="Cours en forte demande" data-tippy-placement="top"></div></li>
									</ul>
								</div>
							</div>
							<span class="list-apply-badge">1-4 Octobre 2019</span>

							<!-- Apply Button -->
							<span class="list-apply-button ripple-effect">S'inscrire</span>
						</div>
					</a>


					<!-- Job Listing -->
          <a href="single-job-page.html" class="job-listing with-apply-button">

						<!-- Job Listing Details -->
						<div class="job-listing-details">

							<!-- Logo -->
							<div class="job-listing-company-logo">
                <div class="category-box-icon">
    							<i class="icon-line-awesome-graduation-cap"></i>
    						</div>
								<!-- <img src="images/company-logo-01.png" alt=""> -->
							</div>

							<!-- Details -->
							<div class="job-listing-description">
								<h3 class="job-listing-title">Stage de pré-rentrée Médecine</h3>

								<!-- Job Listing Footer -->
								<div class="job-listing-footer">
									<ul>
                    <li><i class="icon-material-outline-location-on"></i> Toulouse</li>
										<li><i class="icon-material-outline-business"></i> 8h30-17h30</li>
										<li><i class="icon-material-outline-school"></i> 25 élèves max</li>
										<li><i class="icon-material-outline-access-time"></i> 1 places restantes <div class="caution-badge" title="Cours en forte demande" data-tippy-placement="top"></div></li>
									</ul>
								</div>
							</div>
							<span class="list-apply-badge">4-8 Novembre 2019</span>

							<!-- Apply Button -->
							<span class="list-apply-button ripple-effect">S'inscrire</span>
						</div>
					</a>

				</div>
				<!-- Jobs Container / End -->

			</div>
		</div>
	</div>
</div>
