<!-- Make an Offer Popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
      <li><a href="#new-user">Inscription</a></li>
			<li><a href="#logged-user">Déjà logué</a></li>
      <li><a href="#CB">Valider</a></li>
			<li><a href="#thanks">Merci !</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="new-user">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Une dernière question</h3>
				</div>

				<!-- Form -->
				<form method="post">

          <div class="col-xl-12">
            <!-- Account Type -->
            <div class="submit-field">
              <h3><strong>Vous êtes ?</strong></h3>
              <div class="account-type margin-top-20">
                <div>
                  <input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio"/>
                  <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Le parent</label>
                </div>

                <div>
                  <input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio" />
                  <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> L'élève</label>
                </div>
              </div>
            </div>
          </div>


          <!-- Welcome Text -->
          <div class="welcome-text">
            <h3>Quelques informations sur l'élève</h3>
          </div>


					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="Prénom"/>
					</div>

          <div class="input-with-icon-left">
            <i class="icon-material-outline-account-circle"></i>
            <input type="text" class="input-text with-border" name="name" id="name" placeholder="Nom"/>
          </div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email"/>
					</div>

					<div class="row margin-bottom-25">

						<div class="col-xl-12 col-md-12">
							<div class="section-headline margin-top-25 margin-bottom-12">
								<h5>Matières</h5>
							</div>
							<div class="checkbox">
								<input type="checkbox" id="chekcbox1" checked>
								<label for="chekcbox1"><span class="checkbox-icon"></span> Mathématiques <small><i>3 places restantes</i></small></label>
							</div>
							<br>
							<div class="checkbox">
								<input type="checkbox" id="chekcbox2">
								<label for="chekcbox2"><span class="checkbox-icon"></span> Physique <small><i>8 places restantes</i></small></label>
							</div>
							<br>
							<div class="checkbox">
								<input type="checkbox" id="chekcbox3">
								<label for="chekcbox3"><span class="checkbox-icon"></span> Français <small><i>10 places restantes</i></small></label>
							</div>
						</div>

						<div class="col-xl-12 col-md-12">
							<div class="section-headline margin-top-25 margin-bottom-12">
								<h5>Type de classe</h5>
							</div>
							<div class="radio margin-right-20">
								<input id="radio-1" name="radio" type="radio">
								<label for="radio-1"><span class="radio-label"></span> Classe forte <i class="icon-material-outline-help-outline" title="Adaptée pour les élèves de très bon niveau et autonomes, qui souhaitent approfondir et se perfectionner. Les bases ne seront pas revues pour laisser du temps à la résolution d'exercices difficiles (mais au programme)." data-tippy-placement="top"></i></label>
							</div>
							<br>
							<div class="radio margin-right-20">
								<input id="radio-2" name="radio" type="radio" checked>
								<label for="radio-2"><span class="radio-label"></span> Classe normale <i class="icon-material-outline-help-outline" title="Adaptée pour les élèves qui souhaitent revoir les bases du cours, la méthodologie, de combler des lacunes importantes et faire des exercices de niveau graduel dans l'objectif d'obtenir le bac voire la mention etc. Le programme est identique à la classe forte mais la cadence est plus adaptée. Le défi : combler ses lacunes et connaître ses classiques ! " data-tippy-placement="top"></i></label>
							</div>

						</div>

					</div>

          <!-- Welcome Text -->
          <div class="welcome-text">
            <h3>Précisez votre demande ?</h3>
          </div>

					<textarea name="textarea" cols="10" placeholder="Dîtes-nous en plus sur vos objectifs et vos attentes afin d'adapter le stage à vos besoins..." class="with-border"></textarea>

				</form>

				<!-- Button -->
				<button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Enregistrer ma demande <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

			<!-- Tab -->
			<div class="popup-tab-content" id="logged-user">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Une dernière question</h3>
				</div>

				<!-- Form -->
				<form method="post">

					<div class="col-xl-12">
            <div class="submit-field">
              <div class="account-type margin-top-20">
                <div>
                  <input type="radio" name="account-type-radio" id="alain-radio" class="account-type-radio"/>
                  <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Alain</label>
                </div>

                <div>
                  <input type="radio" name="account-type-radio" id="pierre-radio" class="account-type-radio" />
                  <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Pierre</label>
                </div>

                <div>
                  <input type="radio" name="account-type-radio" id="ajouter-radio" class="account-type-radio" />
                  <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-add-circle-outline"></i> Ajouter</label>
                </div>
              </div>
            </div>
          </div>


					<!-- Welcome Text -->
					<div class="welcome-text">
						<h3>Quelques informations sur l'élève</h3>
					</div>


					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="Prénom"/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="Nom"/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email"/>
					</div>

					<div class="row margin-bottom-25">

						<div class="col-xl-6 col-md-6">
							<div class="section-headline margin-top-25 margin-bottom-12">
								<h5>Matières</h5>
							</div>
							<div class="checkbox">
								<input type="checkbox" id="chekcbox1" checked>
								<label for="chekcbox1"><span class="checkbox-icon"></span> Mathématiques</label>
							</div>
							<br>
							<div class="checkbox">
								<input type="checkbox" id="chekcbox2">
								<label for="chekcbox2"><span class="checkbox-icon"></span> Physique</label>
							</div>
							<br>
							<div class="checkbox">
								<input type="checkbox" id="chekcbox3">
								<label for="chekcbox3"><span class="checkbox-icon"></span> Français</label>
							</div>
						</div>

						<div class="col-xl-6 col-md-6">
							<div class="section-headline margin-top-25 margin-bottom-12">
								<h5>Type de classe</h5>
							</div>
							<div class="checkbox">
								<input type="checkbox" id="chekcbox4">
								<label for="chekcbox4"><span class="checkbox-icon"></span> Classe forte <i class="icon-material-outline-help-outline" title="Adaptée pour les élèves de très bon niveau et autonomes, qui souhaitent approfondir et se perfectionner. Les bases ne seront pas revues pour laisser du temps à la résolution d'exercices difficiles (mais au programme)." data-tippy-placement="top"></i></label>
							</div>

						</div>

					</div>

					<!-- Welcome Text -->
					<div class="welcome-text">
						<h3>Précisez votre demande ?</h3>
					</div>

					<textarea name="textarea" cols="10" placeholder="Dîtes-nous en plus sur vos objectifs et vos attentes afin d'adapter le stage à vos besoins..." class="with-border"></textarea>

				</form>

				<!-- Button -->
				<button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Enregistrer ma demande <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

      <!-- Tab -->
			<div class="popup-tab-content" id="CB">

				<!-- Hedline -->
				<h3>Récapitulatif de votre commande</h3>

				<div id="invoice">

					<!-- Invoice -->
					<div class="row">
						<div class="col-xl-12">
							<table class="margin-top-20">
								<tr>
									<th>Description</th>
									<th>Nb. d'heures</th>
									<th>Prix</th>
									<th>Total</th>
								</tr>

								<tr>
									<td>Stage pré-rentrée</td>
									<td>30</td>
									<td>20.00</td>
									<td>600.00</td>
								</tr>
							</table>
						</div>

						<div class="col-xl-4 col-xl-offset-8">

							<table id="totals">
								<tr id="discount-line">
									<td>Remise</td>
									<td id="discount-value">50.00 €</td>
								</tr>
								<tr>
									<th>Total</th>
									<th><span id="valeurcommande">600.00 €</span></th>
								</tr>
							</table>
						</div>
					</div>

					<div class="row margin-top-10 margin-bottom-10">
						<div class="col-xl-5 col-md-5">
							<input id="code-promo" placeholder="Code promo" required type="text">
						</div>
						<div id="promo-code-good" class="padding-top-13 col-xl-1 col-md-1">
							<i class="icon-material-outline-check font-23"></i>
						</div>
						<div id="promo-code-false" class="padding-top-13 col-xl-1 col-md-1">
							<i class="icon-material-outline-highlight-off font-23"></i>
						</div>
					</div>
					<p><small>fake code = leboncode</small></p>

				</div>

				<!-- Hedline -->
				<h3>Moyen de paiement</h3>

				<!-- Payment Methods Accordion -->
				<div class="payment margin-top-30">

					<div class="payment-tab  payment-tab-active">
						<div class="payment-tab-trigger">
							<input checked type="radio" name="cardType" id="creditCart" value="creditCard">
							<label for="creditCart">Carte de crédit</label>
							<img class="payment-logo" src="images/creditcards.png" alt="">
						</div>

						<div class="payment-tab-content">
							<div class="row payment-form-row">

								<div class="col-md-6">
									<div class="card-label">
										<input id="nameOnCard" name="nameOnCard" required type="text" placeholder="Titulaire de la carte">
									</div>
								</div>

								<div class="col-md-6">
									<div class="card-label">
										<input id="cardNumber" name="cardNumber" placeholder="Numéro de carte crédit" required type="text">
									</div>
								</div>

								<div class="col-md-4">
									<div class="card-label">
										<input id="expiryDate" placeholder="Date d'expiration" required type="text">
									</div>
								</div>

								<div class="col-md-4">
									<div class="card-label">
										<input id="cvv" required type="text" placeholder="CVV">
									</div>
								</div>

							</div>
						</div>
					</div>


					<div class="payment-tab">
						<div class="payment-tab-trigger">
							<input id="paypal" name="cardType" type="radio" value="paypal">
							<label for="paypal">Chèque</label>
							<img class="payment-logo" src="images/bankcheck.png" alt="">
						</div>

						<div class="payment-tab-content">
							<p>À envoyer au 3 rue de l'estrapade - 75005 Paris à l'ordre de Groupe Réussite</p>
							<p>Paiement en 3 fois possible.</p>
						</div>
					</div>



				</div>
				<!-- Payment Methods Accordion / End -->


				<!-- Button -->
				<button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Valider le paiement <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

			<!-- Login -->
			<div class="popup-tab-content" id="thanks">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Inscription validée !</h3>
				</div>

        <p>Si CB: Votre inscription est validée et vous recevrez les supports une semaine avant les débuts du stage.
          Si besoin, nous sommes à votre entière disposition par téléphone.</p>

				<p>Si Chèque: Votre inscription sera définitivement validée à la réception de votre règlement.
					Si besoin, nous sommes à votre entière disposition par téléphone.</p>
          <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Appelez-nous au 01 84 88 32 69 <i class="icon-feather-phone"></i></button>


			</div>

		</div>
	</div>
</div>
<!-- Make an Offer Popup / End -->

<script>
	$(document).ready(function () {
		$("#valeurcommande").text("600.00 €")
		$("#discount-value").text("0")
	})
	let fakePromoCode = "leboncode"
	$("#code-promo").on("change keyup paste", function(){
			let value = $("#code-promo").val()
			if(value === fakePromoCode) {
				$("#promo-code-false").hide()
				$("#promo-code-good").show("slow")
				$("#discount-line").show("slow")
				$("#discount-value").text("60.00")
				$("#valeurcommande").text("540.00 €")
			}
			else {
				$("#promo-code-good").hide()
				$("#promo-code-false").show("slow")
				$("#discount-value").text("0.00")
				$("#valeurcommande").text("600.00 €")
			}
	})
</script>
