<div class="section margin-top-65">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">

				<div class="section-headline centered margin-bottom-15">
					<h3>Nos matières</h3>
				</div>

				<!-- Category Boxes Container -->
				<div class="categories-container">

          <!-- Category Box -->
					<a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-superscript"></i>
						</div>
						<div class="category-box-content">
							<h2>Mathématiques</h2>
							<p><small>129 professeurs</small></p>
						</div>
					</a>

					<!-- Category Box -->
					<a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-flask"></i>
						</div>
						<div class="category-box-content">
							<h2>Physique-Chimie</h2>
							<p><small>113 professeurs</small></p>
						</div>
					</a>

					<!-- Category Box -->
					<a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-pencil"></i>
						</div>
						<div class="category-box-content">
							<h2>Français</h2>
							<p><small>98 professeurs</small></p>
						</div>
					</a>

          <!-- Category Box -->
					<a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-life-ring"></i>
						</div>
						<div class="category-box-content">
							<h2>Anglais</h2>
							<p><small>78 professeurs</small></p>
						</div>
					</a>

					<!-- Category Box -->
          <a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-gears"></i>
						</div>
						<div class="category-box-content">
							<h2>Sciences de l'ingénieur</h2>
							<p><small>78 professeurs</small></p>
						</div>
					</a>



					<!-- Category Box -->
          <a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-rocket"></i>
						</div>
						<div class="category-box-content">
							<h2>Physique</h2>
							<p><small>34 professeurs</small></p>
						</div>
					</a>

					<!-- Category Box -->
          <a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-tree"></i>
						</div>
						<div class="category-box-content">
							<h2>SVT</h2>
							<p><small>31 professeurs</small></p>
						</div>
					</a>

					<!-- Category Box -->
          <a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-line-chart"></i>
						</div>
						<div class="category-box-content">
							<h2>SES</h2>
							<p><small>58 professeurs</small></p>
						</div>
					</a>

					<!-- Category Box -->
					<a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-transgender-alt"></i>
						</div>
						<div class="category-box-content">
							<h2>Chimie</h2>
							<p><small>39 professeurs</small></p>
						</div>
					</a>

					<!-- Category Box -->
					<a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-book"></i>
						</div>
						<div class="category-box-content">
							<h2>Culture générale</h2>
							<p><small>19 professeurs</small></p>
						</div>
					</a>

					<!-- Category Box -->
					<a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-slack"></i>
						</div>
						<div class="category-box-content">
							<h2>Informatique</h2>
							<p><small>54 professeurs</small></p>
						</div>
					</a>

					<!-- Category Box -->
					<a href="jobs-list-layout-full-page-map.html" class="category-box">
						<div class="category-box-icon">
							<i class="icon-line-awesome-mercury"></i>
						</div>
						<div class="category-box-content">
							<h2>Espagnol</h2>
							<p><small>23 professeurs</small></p>
						</div>
					</a>

				</div>

			</div>
		</div>
	</div>
</div>
