<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/mmenu.min.js"></script>
<script src="js/tippy.all.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/snackbar.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/counterup.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher hello
$('#snackbar-user-status label').click(function() {
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	});
});
</script>

<script>
	// enabling the selects
  $(document).ready(function () {
    $('.selectpicker').selectpicker();
  });
</script>


<script>
	// Dashboard menu selector
  $(document).ready(function () {
		let loc = window.location.href
		let page = loc.split('/').pop().slice(0, -5);
		$('#'+page).addClass('active');
  });
</script>

<script>
// Teacher header sticky function
$(function(){
 var shrinkHeader = 300;
 var screenWidth = $(window).width();
 console.log(screenWidth, screenWidth > 1099);

 if (screenWidth > 1099) {
	 	$('.single-page-header.freelancer-header').addClass('sticky-teacher-header');
  	$(window).scroll(function() {
    var scroll = getCurrentScroll();
      if ( scroll >= shrinkHeader ) {
					 $('.single-page-header.freelancer-header.sticky-teacher-header').addClass('sticky-teacher-header-shrinked');
					 $('#teacher-title').addClass('in-line');
					 $('#teacher-topics').addClass('do-not-display');
					 $('#teacher-name-title').addClass('shrinked');
					 $('#teacher-badge').addClass('do-not-display');
					 $('#teacher-picture').addClass('shrinked');
					 $('.teacher-cta').removeClass('do-not-display');
        }
        else {
						$('.single-page-header.freelancer-header.sticky-teacher-header').removeClass('sticky-teacher-header-shrinked');
						$('#teacher-title').removeClass('in-line');
						$('#teacher-topics').removeClass('do-not-display');
						$('#teacher-name-title').removeClass('shrinked');
						$('#teacher-badge').removeClass('do-not-display');
						$('#teacher-picture').removeClass('shrinked');
						$('.teacher-cta').addClass('do-not-display');
        }
  	})
	} else {
		$('.teacher-cta-sidebar').addClass('sticky-mobile-teacher-cta');
	};


function getCurrentScroll() {
    return window.pageYOffset || document.documentElement.scrollTop;
    }
});
</script>
