<!-- Spacer -->
<div class="margin-top-20"></div>
<!-- Spacer / End-->


<div class="container">
	<div class="row">
		<div class="col-xl-6 offset-xl-2">

      <div class="freelancers-container freelancers-list-layout">



				<!--Freelancer -->
				<div class="freelancer">

					<!-- Overview -->
					<div class="freelancer-overview">
						<div class="freelancer-overview-inner">

							<!-- Bookmark Icon -->
							<span class="bookmark-icon"></span>

							<!-- Avatar -->
							<div class="freelancer-avatar">
								<div class="verified-badge" title="Profil validé par Groupe Réussite" data-tippy-placement="bottom"></div>
								<a href="single-freelancer-profile.html"><img src="images/user-avatar-big-01.jpg" alt=""></a>
							</div>

							<!-- Name -->
							<div class="freelancer-name">
								<h4><a href="#">Tom</a></h4>
								<span>Polytechnique</span>
								<!-- Rating -->
								<div class="freelancer-rating">
									<div class="star-rating" data-rating="4.9"></div>
                  <div class="avis">3 avis</div>
								</div>

							</div>
						</div>
          </div>
        </div>
			</div>

			<div class="login-register-page">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Créez un compte gratuitement et prenez contact avec Tom !</h3>
					<span>Vous avez déjà un compte ?<a href="onboarding-login.html"> Connectez-vous !</a></span>
				</div>

				<!-- Form -->



				<form method="post" id="login-form">

          <div class="row">
            <div class="col-xl-6">
              <div class="input-with-icon-left">
                <i class="icon-material-outline-face"></i>
                <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Prénom" required/>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="input-with-icon-left">
                <i class="icon-material-outline-account-circle"></i>
                <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Nom" required/>
              </div>
            </div>

            <div class="col-xl-12">
              <div class="input-with-icon-left">
    						<i class="icon-material-baseline-mail-outline"></i>
    						<input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email" required/>
    					</div>
            </div>

            <div class="col-xl-6">
              <div class="input-with-icon-left">
                <i class="icon-feather-phone"></i>
                <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Téléphone" required/>
              </div>
            </div>


            <div class="col-xl-6">
              <div class="input-with-icon-left">
    						<i class="icon-material-outline-lock"></i>
    						<input type="password" class="input-text with-border" name="password" id="password" placeholder="Créer mot de passe" required/>
    					</div>
            </div>

          </div>

				</form>

				<!-- Button -->
				<button href="#small-dialog" class="button popup-with-zoom-anim full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="login-form">S'inscrire et contacter Tom <i class="icon-material-outline-arrow-right-alt"></i></button>

				<div class="margin-top-30">
					<p><b>En cas de besoin appelez-nous au 01 84 88 32 69.</b></p>
				</div>
        <br>
        <ul class="footer-social-links">
					<h4>
	            <a href="https://www.google.fr/maps/place/Groupe+R%C3%A9ussite+-+Stage+Pr%C3%A9pa+HEC,+Maths+Sup,+Spe+Et+Terminale+S+-+Cours+Particuliers/@48.8467204,2.3301614,15z/data=!4m5!3m4!1s0x0:0xcfe02389bc07be6e!8m2!3d48.8467204!4d2.3301614?shorturl=1" target="_blank">
	                Avis Google France :
	                <span class="star-rating star-rating-centered" data-rating="4.9"></span> sur 5 pour 214 avis.
	            </a>
	        </h4>
        </ul>
			</div>

		</div>
	</div>
</div>

<!-- Spacer -->
<div class="margin-bottom-70"></div>
<!-- Spacer / End-->
