<!-- Titlebar
================================================== -->
<div class="single-page-header freelancer-header" data-background-image="images/teacher-profile.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<div class="header-image freelancer-avatar"><img src="images/user-avatar-big-02.jpg" alt=""></div>
						<div class="header-details">
							<h3>Elena <span>Professeur agrégé</span></h3>
              <h4>Math | Français | Anglais</h4>

							<ul>
								<li><div class="star-rating" data-rating="5.0"></div> <small>(3 avis)</small></li>
								<li><i class="icon-material-outline-access-alarm"></i> 423 heures dispensées</li>
								<li><div class="verified-badge-with-title" title="Diplômes vérifiés, identitée validée, casier judiciaire vierge, et entretiens réalisés par nos équipes." data-tippy-placement="top">Profil validé</div></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">

		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">

			<!-- Page Content -->

      <!-- Teacher presentation -->
			<div class="single-page-section">
        <h3 class="margin-bottom-25">Cours de mathématiques à Paris pour les lycéens et les Math Sup/Spé</h3>

        <h4 class="margin-bottom-25">Présentation</h4>

        <p>Je suis professeur particulier depuis près des 7 ans, mon expérience m'a appris qu'il est capital de miser tant sur la régularité que la convivialité dans le suivi des élèves.
          Mon expérience en tant que professeur de lycée m'a permit de comprendre comment m'adapter aux profils des élèves en difficultés.
          Revoir dans un premier temps les notions de cours non-acquises puis se concentrer sur les exercices et la méthodologie est une bonne manière de préparer les examens.
          J'ai régulièrement l'occasion d'aider 15 élèves par an dans la préparation du BAC scientifique ou économique.
          Je connais parfaitement les exigences et les points sur lesquelles insister pour une réussite optimale au BAC.
          Je dispose aussi d'une solide expérience au collège puisque j'accompagne 10 collégiens par ans dans leurs cursus scolaire.
          De plus je dispose l'agrément préfectorale afin de dispenser des cours, vous pouvez donc obtenir un remboursement à la hauteur de 50% sur mes cours.
          Première heure de cours offerte à mon domicile.
        </p>
        <br/>
        <h4 class="margin-bottom-25">Méthodologie</h4>
        <p>Le passage par la prépa m'a permis d''acquérir des méthodes de travail efficaces, où le mot d'ordre est la rigueur.
          J'ai ensuite progressé à l'université des sciences ou j'ai pu commencer à developer mes méthodes d'enseignements tout en étant moi même étudiant.
          J'enseigne et j'ai enseigné en lycée ce qui me permet de maitriser les programmes scolaire ainsi que de cerner parfaitement les exigences des examens.
          En 7 ans j'ai eu la chance de suivre près de 120 élèves.
          Mon expérience dans les cours particuliers me permet de m'adapter à chaque élève ainsi qu'a sa façon d'apprendre pour libérer au maximum son potentiel.
        </p>

			</div>
      <!-- End teacher presentation -->

      <!-- Certifications -->
      <div class="boxed-list margin-bottom-60">
        <div class="boxed-list-headline">
          <h3><i class="icon-material-outline-business"></i> Diplômes</h3>
        </div>
        <ul class="boxed-list-ul">
          <li>
            <h4><i class="icon-material-outline-date-range"></i> <strong>2015</strong> | Agrégation de Mathématiques </h4>
          </li>

          <li>
            <h4><i class="icon-material-outline-date-range"></i> <strong>2013</strong> | CAPES </h4>
          </li>

          <li>
            <h4><i class="icon-material-outline-date-range"></i> <strong>2010</strong> | Bac S Mention Très bien </h4>
          </li>

        </ul>
      </div>
      <!-- End Certifications -->

      <!-- Experiences -->
      <div class="boxed-list margin-bottom-60">
        <div class="boxed-list-headline">
          <h3><i class="icon-material-outline-business"></i> Expériences</h3>
        </div>
        <ul class="boxed-list-ul">
          <li>
            <h4><i class="icon-material-outline-date-range"></i> <strong>2016-Présent</strong> | Professeur en classe de Terminale S au Lycée Sévigné </h4>
          </li>

          <li>
            <h4><i class="icon-material-outline-date-range"></i> <strong>2013-2016</strong> | Professeur en classe de seconde au Lycée Sévigné</h4>
          </li>

          <li>
            <h4><i class="icon-material-outline-date-range"></i> <strong>2012-2013</strong> | Professeur en classe de seconde au Lycée Armand Jobert</h4>
          </li>

        </ul>
      </div>
      <!-- End Experiences -->

			<!-- Reviews -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3><i class="icon-material-outline-thumb-up"></i> Vos avis <div class="star-rating" data-rating="5.0"></div> <small>(3 avis)</small></h3>
				</div>
				<ul class="boxed-list-ul">
					<li>
						<div class="boxed-list-item">
							<!-- Content -->
							<div class="item-content">
								<h4>Alain</h4>
								<div class="item-details margin-top-10">
									<div class="star-rating" data-rating="5.0"></div>
									<div class="detail-item"><i class="icon-material-outline-date-range"></i> Août 2018</div>
								</div>
								<div class="item-description">
									<p>Simplement la meilleure prof que j'ai jamais eu de mon existence. </p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="boxed-list-item">
							<!-- Content -->
							<div class="item-content">
								<h4>Pedro</h4>
								<div class="item-details margin-top-10">
									<div class="star-rating" data-rating="5.0"></div>
									<div class="detail-item"><i class="icon-material-outline-date-range"></i> Juin 2018</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="boxed-list-item">
							<!-- Content -->
							<div class="item-content">
								<h4>Akula</h4>
								<div class="item-details margin-top-10">
									<div class="star-rating" data-rating="5.0"></div>
									<div class="detail-item"><i class="icon-material-outline-date-range"></i> Mai 2018</div>
								</div>
								<div class="item-description">
									<p>Pour être sincère, il y a un avant et un après, je recommande chaudement.</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="boxed-list-item">
							<!-- Content -->
							<div class="item-content">
								<h4>Hulula</h4>
								<div class="item-details margin-top-10">
									<div class="star-rating" data-rating="5.0"></div>
									<div class="detail-item"><i class="icon-material-outline-date-range"></i> Janvier 2018</div>
								</div>
								<div class="item-description">
									<p>Pour être en avance, avant je faisais du sport, maintenant je prends des cours avec Elena, et ça déchire !</p>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<!-- Pagination -->
				<div class="clearfix"></div>
				<div class="pagination-container margin-top-40 margin-bottom-10">
					<nav class="pagination">
						<ul>
							<li><a href="#" class="ripple-effect current-page">1</a></li>
							<li><a href="#" class="ripple-effect">2</a></li>
							<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
						</ul>
					</nav>
				</div>
				<div class="clearfix"></div>
				<!-- Pagination / End -->

			</div>
			<!-- Reviews / End -->


		</div>


		<!-- Sidebar -->
		<div class="col-xl-4 col-lg-4">
			<div class="sidebar-container">

				<!-- Profile Overview -->
				<div class="profile-overview">
					<div class="overview-item"><strong>35€</strong><span>Tarif <br>horaire</span></div>
					<div class="overview-item"><strong>1H</strong><span>Temps de réponse</span></div>
					<div class="overview-item"><strong>22</strong><span>Nombre d'élèves</span></div>
				</div>

				<!-- Button -->
				<a href="#small-dialog" class="apply-now-button popup-with-zoom-anim margin-bottom-50">Réserver un cours <i class="icon-material-outline-arrow-right-alt"></i></a>

        <!-- Profile Overview -->
				<div class="profile-overview">
					<div class="overview-item"><strong>2012</strong><span>Ancienneté</span></div>
					<div class="overview-item"><strong>Paris</strong><span>Lieu</span></div>
				</div>

				<!-- Freelancer Indicators -->
				<div class="sidebar-widget">
					<div class="freelancer-indicators">

						<!-- Indicator -->
						<div class="indicator">
							<strong>100%</strong>
							<div class="indicator-bar" data-indicator-percentage="100"><span></span></div>
							<span title="Pourcentage de vos demandes ayant reçues une réponse." data-tippy-placement="bottom">Taux de réponses</span>
						</div>

						<!-- Indicator -->
						<div class="indicator">
							<strong>92%</strong>
							<div class="indicator-bar" data-indicator-percentage="92"><span></span></div>
							<span title="Pourcentage d'élèves ayant poursuivi après le premier cours." data-tippy-placement="bottom">Taux de réussite</span>
						</div>

					</div>
				</div>

				<!-- Widget -->
				<div class="sidebar-widget">
					<h3>Matières</h3>
					<div class="task-tags">
						<span>Mathématiques</span>
						<span>Phylosophie</span>
						<span>Latin / Grec</span>
					</div>
				</div>

				<!-- Sidebar Widget -->
				<div class="sidebar-widget">
					<h3>Mettre en favori</h3>

					<!-- Bookmark Button -->
					<button class="bookmark-button margin-bottom-25">
						<span class="bookmark-icon"></span>
						<span class="bookmark-text">Favori</span>
						<span class="bookmarked-text">Favori</span>
					</button>

				</div>

			</div>
		</div>

	</div>
</div>
