<!-- Testimonials -->
<div class="section gray padding-top-65 padding-bottom-55">

	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="section-headline centered margin-top-0 margin-bottom-5">
					<h3>Nos élèves en parlent mieux que nous</h3>
				</div>
			</div>
		</div>
	</div>

	<!-- Categories Carousel -->
	<div class="fullwidth-carousel-container margin-top-20">
		<div class="testimonial-carousel testimonials">

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial-avatar">
						<img src="images/user-avatar-small-02.jpg" alt="">
					</div>
					<div class="testimonial-author">
						<h4>Sindy Michel</h4>
						 <span>Admise à Polytechnique en 3/2</span>
					</div>
					<div class="testimonial">J'ai suivi des cours avec Groupe Réussite sous plusieurs formats (cours particuliers, stage de pré-rentrée et vacances) depuis la terminale. Cela a clairement fait la différence aux concours ! Vraiment ravie :)</div>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial-avatar">
						<img src="images/user-avatar-small-01.jpg" alt="">
					</div>
					<div class="testimonial-author">
						<h4>Aline Hornel</h4>
						 <span>Élève en terminale S</span>
					</div>
					<div class="testimonial">Je me demande encore comment j'aurais pu faire pour gagner les 4 points de ma mention très bien sans les cours du soir et les stages de préparation au bac. Un grand merci à toute l'équipe de Groupe Réussite !.</div>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial-avatar">
						<img src="images/user-avatar-placeholder.png" alt="">
					</div>
					<div class="testimonial-author">
						<h4>Sebastiano Piccio</h4>
						 <span>Élève en Math à Louis Le Grand</span>
					</div>
					<div class="testimonial">Complètement bluffé par le dernier stage sur les séries numériques, limpides et même passionant je dirais. Je recommande !</div>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial-avatar">
						<img src="images/user-avatar-small-03.jpg" alt="">
					</div>
					<div class="testimonial-author">
						<h4>Hervé Genton</h4>
						 <span>Élève en 2ème année de Médecine à Pasteur</span>
					</div>
					<div class="testimonial">Les opportunités de travailler sont nombreuses durant une année scolaire, mais aussi efficacement sont finalement assez rares. Très belle méthode qui a été développé là bas. Ca donne envie d'enseigner plus tard.</div>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial-avatar">
						<img src="images/user-avatar-placeholder.png" alt="">
					</div>
					<div class="testimonial-author">
						<h4>Marcin Kowalski</h4>
						 <span>Élève de 1ère S</span>
					</div>
					<div class="testimonial">Pour moi les maths et la physique ca n'a jamais vraiment été ça, mais durant le dernier stage, j'ai quand même pris du plaisir à bosser avec la prof et les autres élèves, vraiment une bonne ambiance. J'espère pouvoir convertir ça avec le bac !</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Categories Carousel / End -->

</div>
<!-- Testimonials / End -->
